:root {
  --text-color-light: black;
  --bg-color-light: #f4f4f4;
  --text-color-dark: #f58d0b;
  --bg-color-dark: #222;
  --text-color: var(--text-color-light);
  --bg-color: var(--bg-color-light);
}

body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#toggleTheme {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 60px;
  height: 40px;
  border-radius: 5px;
}

h1, h2 {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.container, .container-lista {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: var(--bg-color);
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: var(--text-color);
}

select, input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#results {
  background-color: var(--bg-color);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
}

h2, h3 {
  margin-top: 20px;
  text-align: center;
  color: var(--text-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #ddd;
  margin: 8px 0;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: var(--text-color);
}
